@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --bg-color: rgb(3, 0, 21);
}

body {
  background-color: var(--bg-color);
}

.cta {
  color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="file"] {
  display: none;
}

.vertical-absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.squere-canvas {
  width: 100vw;
  height: 100vw;
  padding: 5vw;
  background-color: blue;
}

.mobile-mockup {
  border-radius: 4vw;
  position: relative;
  overflow: auto;
  width: 45vw;
  border: 1px solid transparent;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
}

.initial-height {
  height: 90vw;
}

.mobile-mockup > div {
  border-radius: 3vw;
  overflow: hidden;
  height: 100%;
  z-index: 0;
}

.mobile-mockup > div > video {
  border-radius: 3vw;
}

.mobile-mockup > div > img {
  border-radius: 3vw;
}

.mobile-mockup > div::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 3vw;
  box-shadow: inset 0 0 5px 5px rgba(150, 150, 150, 0.5);
}

.steps {
  max-width: 520px;
}

.active {
  z-index: 1;
  /* transition: filter 1s; */
  /* opacity: 1; */
}

@keyframes flash {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}
