@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --bg-color: rgb(0, 0, 0);
}

body {
  /* background-color: var(--bg-color); */
  background: rgb(0, 0, 10);
  background: linear-gradient(0deg, rgba(1, 0, 20, 1) 0% rgba(0, 0, 50, 1) 50%);
}

.active-popup main {
  filter: blur(10px);
}

.shadow-0 {
  box-shadow: inset 0 1px 40px 0px rgb(200 200 200 / 10%);
}

.shadow-1 {
  box-shadow: inset 0 4px 18px 4px rgb(200 200 200 / 10%);
}

.shadow-2 {
  box-shadow: inset 0 60px 100px -48px rgb(200 200 200 / 10%);
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(51, 85, 255);
}

input[type="file"] {
  display: none;
}

.vertical-absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.squere-canvas {
  width: 100vw;
  height: 100vw;
}

.mobile-mockup {
  border-radius: 4vw;
  position: relative;
  overflow: auto;

  border: 1px solid transparent;
  box-shadow: 0 0 20px -3px rgba(0, 0, 0, 1);
}

.initial-width {
  width: 45vw;
}

.initial-height {
  height: 90vw;
}

.mobile-mockup > div {
  border-radius: 3vw;
  overflow: hidden;
  height: 100%;
  z-index: 0;
}

.mobile-mockup > div > video {
  border-radius: 3vw;
}

.mobile-mockup > div > img {
  object-fit: cover;
  border-radius: 3vw;
}

.mobile-mockup > div::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 3vw;
  box-shadow: inset 0 0 5px 5px rgba(200, 200, 200, 0.2);
}

.steps {
  max-width: 520px;
}

.active {
  z-index: 1;
  /* transition: filter 1s; */
  /* opacity: 1; */
}

@keyframes flash {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}
